# Document processing
pypdf>=5.0.0
unstructured>=0.18.0
unstructured[docx]>=0.18.32
# Embeddings & Torch
torch>=2.0.0
sentence-transformers>=3.0.0

# LangChain & Vectorstore
langchain>=0.3.0
langchain-core>=0.3.0
langchain-community>=0.3.0
langchain-text-splitters>=0.3.0
langchain-experimental>=0.3.0
langchain-huggingface>=0.1.0
langchain-google-genai>=2.0.0
faiss-cpu>=1.8.0

# Environment variables
python-dotenv>=1.0.0
